::selection {
  background: #87CEEB;
}

div[data-testid="column"]:nth-child(1) {
            background-color: #EAEAEA; 
            padding: 15px;
            border-radius: 5px;
}

ul[data-testid="stSelectboxVirtualDropdown"] li[aria-selected="true"] {
                            background-color: #fd7f6f;  
                            color: #FFFFFF; 
}

.element-container div[data-baseweb="select"]:hover {
	background-color: #99cfdd;
}

.element-container:nth-of-type(1) button:hover {
	background-color: CornflowerBlue;
	color: white;
	box-shadow: 2px 3px 5px #888;
}

.element-container:nth-of-type(1) button{
	background-color: green;
	height: 65px;
	padding-top: 10px; 
    padding-bottom: 10px;
}

.element-container:nth-of-type(1) button:active {
	background-color: yellow;
	color: red;
	transform: translateY(4px); 
}

.element-container:nth-of-type(1) button:not(:hover) {
	background-color: #F0FFF0;
	color: black;	
}

.element-container:nth-of-type(1) input:hover {
	background-color: #87CEEB;
	text-align: center;	
	color: white;
}

.element-container:nth-of-type(1) input:active {
	text-decoration-line: underline; 
	text-align: center;
	color: white;
}

.element-container:nth-of-type(1) input:not(:hover) {
	background-color: #FFFFF0;
	text-align: center; 
}














